# Analysis of the relationship between Covid-19 daily new cases and political leaning of US states

In [265]:
import pandas as pd
import numpy as np

load COVID-19 data downloaded from CDC
column "new_case" stands for daily new cases
column "submission_date" stands for the date of report date of that data point
The "submission_date" ranges from Jan 29th, 2020 to Feb 1st, 2021

In [266]:
covid=pd.read_csv("United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv")

In [267]:
covid.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,10/15/2020,DC,16166,NaN,NaN,34,0.0,638,NaN,NaN,0,0.0,10/16/2020 01:33:55 PM,NaN,NaN
1,12/08/2020,NM,109947,NaN,NaN,0,0.0,1756,NaN,NaN,0,0.0,12/09/2020 02:45:40 PM,NaN,Not agree
2,01/01/2021,FL,1300528,NaN,NaN,0,6063.0,21673,NaN,NaN,0,7.0,01/02/2021 02:50:51 PM,Not agree,Not agree
3,08/29/2020,SD,12942,NaN,NaN,425,0.0,167,165.0,2.0,2,0.0,08/30/2020 02:49:52 PM,NaN,Agree
4,04/30/2020,IA,7145,NaN,NaN,302,0.0,162,NaN,NaN,14,0.0,05/01/2020 09:00:19 PM,Not agree,Not agree

load US population data
column "party" stands for the result of US President Election 2020 of that state

In [268]:
population=pd.read_csv("popultion.txt",sep="\t")

In [269]:
population.head()

   Unnamed: 0 state  population party
0           1    CA    39613500   DEM
1           2    TX    29730300   REP
2           3    FL    21944600   REP
3           4    NY    19300000   DEM
4           5    PA    12804100   DEM

Drop The column "Unnamed: 0"

In [270]:
population_1=population.drop("Unnamed: 0",axis=1)

In [271]:
population_1.head()

  state  population party
0    CA    39613500   DEM
1    TX    29730300   REP
2    FL    21944600   REP
3    NY    19300000   DEM
4    PA    12804100   DEM

Merge dataset "population_1" and "covid" by column "state"

In [272]:
covid_pop=pd.merge(population_1,covid, on=["state"])

Keep only five columns: "state","population","party","submission_date","new_case"

In [273]:
covid_pop_1=covid_pop[["state","population","party","submission_date","new_case"]]

Generate new dataset covid_pop_2 with column "new_case_per_million" and drop the columns "new_case","population"

In [274]:
covid_pop_1["new_case_per_million"]=covid_pop_1["new_case"]/covid_pop_1["population"]*1000000

/Users/mingshen/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [275]:
covid_pop_2=covid_pop_1.drop(["new_case","population"],axis=1)
covid_pop_2.head()

  state party submission_date  new_case_per_million
0    CA   DEM      02/24/2020              0.000000
1    CA   DEM      03/29/2020             12.117081
2    CA   DEM      02/18/2020              0.000000
3    CA   DEM      09/14/2020             72.071390
4    CA   DEM      12/03/2020            469.309705

Unstack column 'submission_date'

In [276]:
covid_pop_3=covid_pop_2.set_index(['state','party', 'submission_date']).unstack('submission_date')
covid_pop_3.head()

                new_case_per_million                                        \
submission_date           01/01/2021   01/02/2021   01/03/2021  01/04/2021
state party
AK    REP                   0.000000  1105.808324   400.355074  358.939031
AL    REP                 916.259812   752.099129   501.804754  437.964489
AR    REP                1418.612700   659.206645   670.083554  430.461939
AZ    DEM                1337.748168  1181.234292  2291.724844  685.895134
CA    DEM                1191.235311  1346.535903  1144.862231  748.053063

                                                                     \
submission_date   01/05/2021   01/06/2021   01/07/2021   01/08/2021
state party
AK    REP         267.823739   452.815394   450.054324   556.355499
AL    REP        1114.265969   930.446537  1022.660254  1024.889597
AR    REP        1353.680845  1221.180309  1095.271840   970.352181
AZ    DEM         788.819298   958.231938  1318.200556  1550.245342
CA    DEM         793.668825   754.591238   918.500006  1262.953286

                                           ...                           \
submission_date   01/09/2021   01/10/2021  ...   12/22/2020  12/23/2020
state party                                ...
AK    REP         429.346303   345.133684  ...   604.674215  496.992505
AL    REP         985.572100   557.335652  ...  1009.081531  964.292011
AR    REP         951.235188  1097.579064  ...   639.760049  953.542412
AZ    DEM        1475.246340  1489.474874  ...   780.574726  805.574394
CA    DEM        1328.738940  1254.244134  ...   824.441163  986.254686

                                                                    \
submission_date   12/24/2020   12/25/2020  12/26/2020   12/27/2020
state party
AK    REP         369.983309     0.000000  498.373040   400.355074
AL    REP         857.688901   734.669723  209.152870   439.788496
AR    REP        1056.049045   699.418250  231.381532   299.279817
AZ    DEM          96.275315  1720.455845  811.957288   172.338134
CA    DEM         986.279930   988.147980  766.784051  1265.755361


submission_date   12/28/2020  12/29/2020   12/30/2020   12/31/2020
state party
AK    REP         173.947377  241.593579   531.505873   683.364694
AL    REP         459.852580  791.821961  1016.580229   892.953048
AR    REP         544.175085  895.861830  1049.456979   892.565797
AZ    DEM        1341.205569  372.202497   700.389622  1026.316139
CA    DEM         837.340806  788.746261   780.567231   687.568632

[5 rows x 380 columns]

Calculate the 7-day average daily new cases per million people and use it as input data

convert dataset into matrix

In [219]:
covid_pop_array=covid_pop_3.values

In [282]:
len(covid_pop_array)

51

In [284]:
len(covid_pop_array[0])

380

Use average_matrix to generate (2n+1)-day average values of each element in the matrix.
We use n=3 here.

In [228]:
def average_matrix(mat,n):
    x=len(mat)
    y=len(mat[0])
    new_mat=np.zeros((x,y))
    for i in range(x):
        for j in range(n,y-n):
            sum_all=mat[i,j]
            for k in range(1,n+1):
                sum_all=sum_all+mat[i,j-n]+mat[i,j+n]
            new_mat[i,j]=sum_all/7
    return new_mat

In [285]:
new_covid_pop_array=average_matrix(covid_pop_array,3)

Use fill_df to fill the values in the matrix into original dataset

In [241]:
def fill_df(df,mat):
    df_new=df
    x=len(mat)
    y=len(mat[0])
    for i in range(x):
        for j in range(y):
            df_new.iloc[i,j]=mat[i,j]
    return df_new

In [286]:
new_covid_pop_df=fill_df(covid_pop_3,new_covid_pop_array)

We would not use the data from first three days and last three days, so just let these be 0

In [287]:
new_covid_pop_df.head()

                new_case_per_million                                    \
submission_date           01/01/2021 01/02/2021 01/03/2021  01/04/2021
state party
AK    REP                        0.0        0.0        0.0  191.753457
AL    REP                        0.0        0.0        0.0  373.069525
AR    REP                        0.0        0.0        0.0  510.414288
AZ    DEM                        0.0        0.0        0.0  656.870879
CA    DEM                        0.0        0.0        0.0  568.437425

                                                                   \
submission_date  01/05/2021  01/06/2021   01/07/2021   01/08/2021
state party
AK    REP        234.352815  169.495857   363.672293   565.061320
AL    REP        477.116543  484.532519   803.853793   857.664085
AR    REP        512.203563  600.994662  1021.716487   865.074189
AZ    DEM        642.826884  725.557547  1160.704279  1239.698017
CA    DEM        583.780576  555.971565   976.621812  1123.963872

                                           ...                           \
submission_date   01/09/2021   01/10/2021  ...  12/22/2020   12/23/2020
state party                                ...
AK    REP         371.532889   369.645219  ...  475.101169   423.795990
AL    REP         793.381260   617.242513  ...  823.330554   782.958359
AR    REP         960.094119   892.290007  ...  681.956001   808.590942
AZ    DEM        1473.048149  1169.459047  ...  968.357184   709.603026
CA    DEM        1128.465533  1028.883423  ...  978.311094  1007.252475

                                                                              \
submission_date  12/24/2020   12/25/2020  12/26/2020  12/27/2020  12/28/2020
state party
AK    REP        438.953698   304.534693  222.491486  197.585512  188.400730
AL    REP        831.284220   785.878426  304.088122  345.610145  423.819124
AR    REP        871.928593   743.147866  311.818196  342.847995  368.853024
AZ    DEM        499.716542  1251.231733  418.196241  279.080635  690.590035
CA    DEM        988.080491   915.125564  541.026134  602.567719  485.407598


submission_date 12/29/2020 12/30/2020 12/31/2020
state party
AK    REP              0.0        0.0        0.0
AL    REP              0.0        0.0        0.0
AR    REP              0.0        0.0        0.0
AZ    DEM              0.0        0.0        0.0
CA    DEM              0.0        0.0        0.0

[5 rows x 380 columns]

Export the data

In [245]:
#new_covid_pop_df.to_csv("covid_pop_python_average.csv")